@model Models.PublicationsListViewModel
@using Models

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<input type="hidden" value=@ViewBag.Search id="Hidden" />
<input type="hidden" value="@ViewBag.MyGallery" id="Hidden2" />
<input type="hidden" value="@ViewBag.Category" id="Hidden3" />
<input type="hidden" value="@ViewBag.OnlyForMe" id="Hidden4" />




<div class="container mt-5">
    <div class="row">
        <!-- Top Filter Bar -->
        @using (Ajax.BeginForm("ChangePage", "Publication", new { search = ViewBag.Search, personalPage = bool.Parse(ViewBag.MyGallery), onlyForMe = ViewBag.OnlyForMe }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "PublicationsList" }))
        {
            <div class="col-md-12 top-filter-bar mb-2">
                <div class="filter-group">

                    <div class="filter-item">
                        <button class="filter-dropdown filter-text" data-bs-toggle="dropdown" aria-expanded="false">Categories</button>
                        <ul class="dropdown-menu multiselect-menu">
                            <li>
                                @foreach (var i in ViewBag.Categories)
                                {
                                    <label class="form-check">
                                        <input name="AreChecked" type="checkbox" class="form-check-input category-checkbox" id="@i.Key" value="@i.Key"> @i.Value
                                    </label>
                                }
                            </li>
                        </ul>
                    </div>
                    <div class="filter-item">
                        <button class="filter-dropdown filter-text" data-bs-toggle="dropdown" aria-expanded="false">Price Range</button>
                        <ul class="dropdown-menu">
                            <li>
                                <input name="MinPrice" type="number" class="form-control mb-1" placeholder="Min" />
                                <input name="MaxPrice" type="number" class="form-control" placeholder="Max" />
                            </li>
                        </ul>
                    </div>
                    <div class="filter-item">
                        @Html.DropDownList("order",
                    Enum.GetValues(typeof(OrderByModel)).Cast<OrderByModel>().Select(x => new SelectListItem() { Value = x.ToString(), Text = x.GetDisplayName() }),
                    new { @class = "filter-dropdown filter-text" })
                    </div>
                </div>
                <input type="submit" class="apply-button" value="Apply" />

            </div>
        }

        <!-- Image Gallery -->
        <div class="col-md-12">
            <div class="row" id="PublicationsList">


            </div>
        </div>
    </div>
</div>












@section Scripts{

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/MyScripts/effects.js"></script>
    <script src="~/MyScripts/render_pb_list.js"></script>
}
